# xml setting
/.idea

# web application files
# /web-app/WEB-INF/classes

# logs
/test

# plugin release files
# /plugin.xml

# older plugin install locations
# /plugins
# /web-app/plugins

# "temporary" build files
/target