# xml setting
/.idea

# web application files
!/web-app/WEB-INF/classes

# logs
/stacktrace.log
/test
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target