@custome-c1: #7092BE;
@custome-c2: #3F48CC;

//.custome1 {
//  color: @custome-c1;
//}
//
//.custome2 {
//  color: @custome-c2;
//}

//.bg-custome1 {
//  color: #fff;
//  background: @custome-c1;
//}
//
//.bg-custome2 {
//  color: #fff;
//  background: @custome-c2;
//}

.defaultColor1 {
  color: @custome-c1;
}

.defaultBgColor1 {
  color: #fff;
  background: @custome-c1;
}

.defaultColor2 {
  color: @custome-c2;
}

.defaultBgColor2 {
  color: #fff;
  background: @custome-c2;
}

//Narbar排版用
//.lv2navbar {
//  background: @gray-lighter;
//}
.HDivider-inner {
  border-left: 1px solid @gray-light;
}

.HDivider-outer {
  border-right: 1px solid @gray-light;
}

.marginLeft {
  margin-left: 5% !important;
}

//facebook留言版長度
.fb-comments, .fb-comments iframe[style] {
  width: 100% !important;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

a.active,
li.active {
  text-decoration: underline;
}

ul > li > span.active,
ul > li > span:hover.active,
ul > li > span:focus.active {
  background-color: @brand-primary;
  border-color: @brand-primary;
  color: #fff;
}

//正方型
.square {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  display: table-cell !important;
  vertical-align: middle !important;
  padding: 4px !important;
  white-space: inherit !important;
}

//向上空格
.padding-top {
  padding-top: 15px !important; /* define margin as you see fit */
}

//漸層直線
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  border: 0;
  margin-top: 0px !important;
}

//樂透表格用(一般號碼)
div.lottoNO,
button.lottoNO,
span.lottoNO,
td.lottoNO {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bac4f2+0,8d9ee9+17,6077e0+33,002ae4+53,0023be+85,001c96+100 */
  background: rgb(186, 196, 242); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhYzRmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzhkOWVlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzYwNzdlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzAwMmFlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzAwMjNiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDFjOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(186, 196, 242, 1) 0%, rgba(141, 158, 233, 1) 17%, rgba(96, 119, 224, 1) 33%, rgba(0, 42, 228, 1) 53%, rgba(0, 35, 190, 1) 85%, rgba(0, 28, 150, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(186, 196, 242, 1)), color-stop(17%, rgba(141, 158, 233, 1)), color-stop(33%, rgba(96, 119, 224, 1)), color-stop(53%, rgba(0, 42, 228, 1)), color-stop(85%, rgba(0, 35, 190, 1)), color-stop(100%, rgba(0, 28, 150, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(186, 196, 242, 1) 0%, rgba(141, 158, 233, 1) 17%, rgba(96, 119, 224, 1) 33%, rgba(0, 42, 228, 1) 53%, rgba(0, 35, 190, 1) 85%, rgba(0, 28, 150, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(186, 196, 242, 1) 0%, rgba(141, 158, 233, 1) 17%, rgba(96, 119, 224, 1) 33%, rgba(0, 42, 228, 1) 53%, rgba(0, 35, 190, 1) 85%, rgba(0, 28, 150, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(186, 196, 242, 1) 0%, rgba(141, 158, 233, 1) 17%, rgba(96, 119, 224, 1) 33%, rgba(0, 42, 228, 1) 53%, rgba(0, 35, 190, 1) 85%, rgba(0, 28, 150, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(186, 196, 242, 1) 0%, rgba(141, 158, 233, 1) 17%, rgba(96, 119, 224, 1) 33%, rgba(0, 42, 228, 1) 53%, rgba(0, 35, 190, 1) 85%, rgba(0, 28, 150, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac4f2', endColorstr='#001c96', GradientType=0); /* IE6-8 */
  color: #fff !important;
  font-size: 14px;
}

//樂透表格用(特別號)
div.lottoSPNO,
button.lottoSPNO,
span.lottoSPNO,
td.lottoSPNO {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faaeb6+0,f77986+17,f44455+33,d80016+53,b00012+85,88000e+100 */
  background: #faaeb6; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYWViNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iI2Y3Nzk4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2Y0NDQ1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Q4MDAxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2IwMDAxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODAwMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #faaeb6 0%, #f77986 17%, #f44455 33%, #d80016 53%, #b00012 85%, #88000e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faaeb6), color-stop(17%, #f77986), color-stop(33%, #f44455), color-stop(53%, #d80016), color-stop(85%, #b00012), color-stop(100%, #88000e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faaeb6 0%, #f77986 17%, #f44455 33%, #d80016 53%, #b00012 85%, #88000e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faaeb6 0%, #f77986 17%, #f44455 33%, #d80016 53%, #b00012 85%, #88000e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faaeb6 0%, #f77986 17%, #f44455 33%, #d80016 53%, #b00012 85%, #88000e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #faaeb6 0%, #f77986 17%, #f44455 33%, #d80016 53%, #b00012 85%, #88000e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faaeb6', endColorstr='#88000e', GradientType=0); /* IE6-8 */
  color: #fff !important;
  font-size: 14px;
}

//樂透表格用(連開號)
div.lottoRepeatNO,
button.lottoRepeatNO,
span.lottoRepeatNO,
td.lottoRepeatNO {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5aefa+0,d379f7+17,c244f4+33,9b00d8+53,7e00b0+85,610088+100 */
  background: #e5aefa; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1YWVmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iI2QzNzlmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2MyNDRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzliMDBkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzdlMDBiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTAwODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5aefa 0%, #d379f7 17%, #c244f4 33%, #9b00d8 53%, #7e00b0 85%, #610088 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5aefa), color-stop(17%, #d379f7), color-stop(33%, #c244f4), color-stop(53%, #9b00d8), color-stop(85%, #7e00b0), color-stop(100%, #610088)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5aefa 0%, #d379f7 17%, #c244f4 33%, #9b00d8 53%, #7e00b0 85%, #610088 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5aefa 0%, #d379f7 17%, #c244f4 33%, #9b00d8 53%, #7e00b0 85%, #610088 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5aefa 0%, #d379f7 17%, #c244f4 33%, #9b00d8 53%, #7e00b0 85%, #610088 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e5aefa 0%, #d379f7 17%, #c244f4 33%, #9b00d8 53%, #7e00b0 85%, #610088 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5aefa', endColorstr='#610088', GradientType=0); /* IE6-8 */
  color: #fff !important;
  font-size: 14px;
}

//樂透表格用(連續號)
div.lottoContinueNO,
button.lottoContinueNO,
span.lottoContinueNO,
td.lottoContinueNO {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+53,005700+85,002400+100;Green+3D+%231 */
  background: #b4ddb4; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 53%, #005700 85%, #002400 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(17%, #83c783), color-stop(33%, #52b152), color-stop(53%, #008a00), color-stop(85%, #005700), color-stop(100%, #002400)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 53%, #005700 85%, #002400 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 53%, #005700 85%, #002400 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 53%, #005700 85%, #002400 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 53%, #005700 85%, #002400 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#002400', GradientType=0); /* IE6-8 */
  color: #fff !important;
  font-size: 14px;
}

//樂透表格用(開獎號碼)
th.lottoTitleAnalysisNo {
  background-color: #009999;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: solid 1px #000;
}

//樂透表格用(開獎號碼)
th.lottoTitleAnalysisType {
  background-color: #009999;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: solid 1px #000;
}

//樂透表格用(特別號)
th.lottoTitleAnalysisSPNo {
  background-color: #996600;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: solid 1px #000;
}

//樂透表格用(編號title)
th.lottoTitleNum {
  text-align: center;
  background-color: #E0EEEE;
  width: 40px;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(期次title)
th.lottoTitlePeriods {
  text-align: center;
  background-color: #E0EEEE;
  width: 80px;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(日期title)
th.lottoTitleOpendt {
  text-align: center;
  background-color: #E0EEEE;
  width: 80px;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(開獎號碼title)
th.lottoTitleOpenNum {
  text-align: center;
  background-color: #E0EEEE;
  width: 60px;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(開獎號碼title)
th.lottoTitleType {
  text-align: center;
  background-color: #E0EEEE;
  font-size: 16px;
}

//樂透表格用(編號)
td.lottoNum {
  font-size: 14px;
}

//樂透表格用(期次)
td.lottoPeriods {
  font-size: 14px;
}

//樂透表格用(日期)
td.lottoOpendt {
  font-size: 14px;
}

//樂透表格用(開獎號碼)
td.lottoOpenNum {
  font-size: 15px;
}

//樂透表格用
.lottoTableHover {
  background-color: #97FFFF;
}

//樂透表格用(投注號碼Title)
th.lottoTitleInsertText {
  text-align: center;
  background-color: #E0EEEE;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(投注號碼Title)
th.lottoTitleInsertNO {
  text-align: center;
  background-color: #FF3366;
  color: #fff;
  font-size: 14px;
  border: solid 1px #000;
}

//樂透表格用(投注號碼-特別號 Title)
th.lottoTitleInsertSPNO {
  text-align: center;
  background-color: #996600;
  color: #fff;
  font-size: 14px;
  border: solid 1px #000;
}

//樂透表格用(投注號碼次數Title)
th.lottoTitleInsertNOCnts {
  text-align: center;
  background-color: #FFAEB9;
  font-size: 16px;
  border: solid 1px #000;
}

//樂透表格用(出現次數Title)
th.lottoTitleCntsText {
  text-align: center;
  background-color: #FFD700;
  font-size: 16px;
  height: 80px;
  border: solid 1px #000;
}

//樂透表格用(最久未開Title)
th.lottoTitleLastOpenText {
  text-align: center;
  background-color: #00FFBB;
  font-size: 16px;
  height: 80px;
  border: solid 1px #000;
}

//樂透表格用(出現次數分析圖)
div.lottoAnalysisCnts {
  background-color: #00FF00;
  border: 1px solid;
}

//樂透表格用(尾數出限次數分析圖)
div.lottoAnalysisCnts60 {
  position: relative;
  background-color: #00FF00;
  border: 1px solid;
  width: 60%;
  left: 20%;
}

//樂透表格用(最久未開分析圖)
div.lottoAnalysisLastOpen {
  background-color: #6495ED;
  border: 1px solid;
}

div.lottoAnalysisNo {
  color: #aa0000;
  font-weight: bold;
}

//置底
.pull-down {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

//置頂
.pull-top {
  display: table-cell;
  vertical-align: top;
  float: none;
}

//樂透表格用
.font14 {
  font-size: 14px;
}

//樂透開獎號碼圓形
.circle {
  float: left;
  /*設定字體置中*/
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-size: 26px !important;
  font-weight: bold;
  width: 36px;
  height: 36px; /*正圓形，所以寬與高都設一樣*/
  border-radius: 99em;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

//賓果開獎號碼: 左右號碼連續
.bingoBackGround {
  background-color: #4D4D4D;
}

.bingoCntLeftRight {
  float: left;
  background-image: url("../images/lotto/flowAll.png");
  background-repeat: no-repeat;
}

//賓果開獎號碼: 左邊號碼連續
.bingoCntLeft {
  float: left;
  background-image: url("../images/lotto/flowRight.png");
  background-repeat: no-repeat;
}

//賓果開獎號碼: 右邊號碼連續
.bingoCntRight {
  float: left;
  background-image: url("../images/lotto/flowLeft.png");
  background-repeat: no-repeat;
}

//賓果開獎號碼: 超級號碼
.bingoSpNo {
  float: left;
  background-image: url("../images/lotto/fire.png");
  background-repeat: no-repeat;
}

//賓果開獎號碼: 文字+數字
.bingoText {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.bingoTitle {
  text-align: center;
  color: white;

  background: rgb(239, 197, 202); /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzVjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2QyNGI1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2JhMjczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMThlOTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 197, 202, 1)), color-stop(50%, rgba(210, 75, 90, 1)), color-stop(51%, rgba(186, 39, 55, 1)), color-stop(100%, rgba(241, 142, 153, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=0); /* IE6-8 */
}

.bingoTable {
  width: 100%;
}