@custome-c1: #7092BE;
@custome-c2: #3F48CC;

.custome1 {
  color: @custome-c1;
}

.custome2 {
  color: @custome-c2;
}

.bg-custome1 {
  color: #fff;
  background: @custome-c1;
}

.bg-custome2 {
  color: #fff;
  background: @custome-c2;
}

.lv2navbar {
  background: @gray-lighter;
}

.HDivider-inner {
  border-left: 1px solid @gray-light;
}

.HDivider-outer {
  border-right: 1px solid @gray-light;
}